#spring.application.name=springstudents

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/student_db
    username: student_user
    password: student_pass
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        format_sql: true